.skeleton-wrapper {
    display: flex;
    gap: 10px;
    padding: 20px;
  }
  .search-half {
    width: 30%;
    height: 95vh;
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    gap: 10px;
    height: 95vh;
  }
  .skeleton-card {
    max-width: 240px;
    width: 100%;
    height: 150px;
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(224, 224, 224) 25%, rgb(240, 240, 240) 50%, rgb(224, 224, 224) 75%) repeat scroll -137.76% 0px / 200% 100% padding-box border-box;
    border-radius: 4px;
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
  }
  
  @keyframes shimmer {
    from {
      background-position: 200% 0;
    }
    to {
      background-position: -200% 0;
    }
  }
