.skeleton-wrapper {
    width: 100%;
    height: 95vh;
    display: flex;
}
.skeleton-left {
    margin-top: 20px;
    margin-left: 20px;
    width: 30%;
    height: 95vh;
    padding-right: 30px;
    border-right: 2px dotted gray ;
}
.box {
    width: 260px;
    height: 180px;
    background-color: gray;
}
.skeleton-right {
    padding-left: 10px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4, 260px);
    grid-template-rows: repeat(5, 180px);
    gap: 10px;
    padding: 20px;
}