.searchButton {
    width: 15%;
    height: 36px;
    border: 1px solid black;
    background: #333;
    text-align: center;
    color: #fff;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
}
.searchTerm {
    width: 85%;
    border: 3px solid black;
    border-right: none;
    height: 40px;
    border-radius: 20px 0 0 20px;
    outline: none;
    color: white;
    padding-left: 10px;
}
.search-left {
    margin-top: 20px;
    margin-left: 20px;
    width: 30%;
    height: 95vh;
    padding-right: 30px;
    border-right: 2px dotted gray ;
}
